@charset "UTF-8";

/*#region Modern CSS Reset*/
/*
 * Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
 */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests
  * default styling will be removed
  */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*#endregion*/

:root {
  --border-radius-calculator-keys: 0.3125rem;
  --border-radius-calculator-screen: 0.625rem;
  --border-radius-theme-controls-area: 0.8125rem;
  --font-family: 'Spartan', sans-serif;
  --font-size-calculator-screen: 2rem;
  --font-size-control-keys: 1rem;
  --font-size-number-keys: 1.75rem;
  --font-size-primary: 2rem;
  --font-size-theme-controls: 0.75rem;
  --font-weight-bold: 700;
}

/* 768px */
@media screen and (min-width: 48em) {
  :root {
    --font-size-calculator-screen: 3rem;
    --font-size-number-keys: 2rem;
    --font-size-control-keys: 1.25rem;
  }
}

.theme-1 {
  --color-theme-background: #3a4663;
  --color-theme-controls-background: #242d44;
  --color-calculator-keypad-background: #242d44;
  --color-calculator-screen-background: #181f33;
  --color-calculator-screen-text: #ffffff;
  --color-control-keys-background: #647198;
  --color-control-keys-shadow: #414e73;
  --color-theme-controls-switch: #d03f2f;
  --color-equal-key-background: #d03f2f;
  --color-equal-key-shadow: #93261a;
  --color-equal-key-text: #ffffff;
  --color-number-key-background: #eae3dc;
  --color-number-key-shadow: #b3a497;
  --color-number-key-text: #434a59;
  --color-control-key-text: #ffffff;
  --color-control-keys-background-hover: #a2b2e1;
  --color-theme-controls-switch-hover: #f96b5b;
  --color-equal-key-background-hover: #f96b5b;
  --color-number-key-background-hover: #fffffe;
}

.theme-2 {
  --color-theme-background: #e6e6e6;
  --color-theme-controls-background: #d2cdcd;
  --color-calculator-keypad-background: #d2cdcd;
  --color-calculator-screen-background: #eeeeee;
  --color-calculator-screen-text: #36362C;
  --color-control-keys-background: #378187;
  --color-control-keys-shadow: #1b6066;
  --color-theme-controls-switch: #c85402;
  --color-equal-key-background: #c85402;
  --color-equal-key-shadow: #873901;
  --color-equal-key-text: #ffffff;
  --color-number-key-background: #e5e4e1;
  --color-number-key-shadow: #a79e91;
  --color-number-key-text: #36362c;
  --color-control-key-text: #ffffff;
  --color-control-keys-background-hover: #62b5bc;
  --color-theme-controls-switch-hover: #ff8a38;
  --color-equal-key-background-hover: #ff8a38;
  --color-number-key-background-hover: #ffffff;
}

.theme-3 {
  --color-theme-background: #17062a;
  --color-theme-controls-background: #1e0936;
  --color-calculator-keypad-background: #1e0936;
  --color-calculator-screen-background: #1e0936;
  --color-calculator-screen-text: #ffe53d;
  --color-control-keys-background: #56077c;
  --color-control-keys-shadow: #be15f4;
  --color-theme-controls-switch: #00ded0;
  --color-equal-key-background: #00ded0;
  --color-equal-key-shadow: #6cf9f1;
  --color-equal-key-text: #1a2327;
  --color-number-key-background: #331c4d;
  --color-number-key-shadow: #881c9e;
  --color-number-key-text: #ffe53d;
  --color-control-key-text: #ffffff;
  --color-control-keys-background-hover: #8631af;
  --color-theme-controls-switch-hover: #93fff8;
  --color-equal-key-background-hover: #93fff8;
  --color-number-key-background-hover: #6c34ac;
}

/*#region Attribution*/
.attribution {
  color: var(--color-calculator-screen-text);
  font-size: 0.6875rem;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
}

.attribution a {
  color: var(--color-theme-controls-switch);
}
/*#endregion*/

body {
  background-color: var(--color-theme-background);
  font-family: var(--font-family);
  font-size: var(--font-size-primary);
  font-weight: var(--font-weight-bold);
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 1.75rem;
}

.calculator__heading {
  align-items: center;
  color: var(--color-calculator-screen-text);
  display: flex;
  justify-content: space-between;
}

.calculator__title {
  font-size: var(--font-size-primary);
}

.calculator__theme-switcher {
  align-items: center;
  display: flex;
  font-size: var(--font-size-theme-controls);
}

.calculator__theme-switcher-label {
  text-transform: uppercase;
  font-size: var(--font-size-theme-controls);
  margin-right: 1.3125rem;
}

.calculator__theme-controls-labels label:not(:last-child) {
  margin-right: 0.6875rem;
}

.calculator__theme-controls-switch {
  background-color: var(--color-theme-controls-background);
  border-radius: var(--border-radius-theme-controls-area);
  position: relative;
  min-height: 1.625rem;
}

.calculator__screen {
  background-color: var(--color-calculator-screen-background);
  border-radius: var(--border-radius-calculator-screen);
  color: var(--color-calculator-screen-text);
  font-size: var(--font-size-calculator-screen);
  letter-spacing: -0.0331rem;
  margin-top: 2rem;
  padding: 1.625rem 1.5rem;
  text-align: right;
}

.calculator__keypad {
  background-color: var(--color-calculator-keypad-background);
  border-radius: var(--border-radius-calculator-screen);
  display: grid;
  gap: 0.8125rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, auto);
  margin: 1.5rem 0;
  padding: 1.5rem;
}

#button-reset,
#button-equals {
  grid-column: span 2;
}

@media screen and (min-width: 48em) {
  body {
    display: grid;
    place-content: center;
  }

  .container {
    width: 33.75rem;
  }

  .calculator__screen {
    padding: 1.7812rem 2rem 1.7188rem;
  }

  .calculator__keypad {
    padding: 2rem;
    gap: 1.5rem;
  }
}

/*#region Button styles*/
/* Reset button styles */
.button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;

  @media screen and (-ms-high-contrast: active) {
    border: 2px solid currentColor;
  }
}

/* Set custom styles */
.button {
  align-items: center;
  align-self: start;
  background-color: var(--color-number-key-background);
  border-radius: var(--border-radius-calculator-keys);
  box-shadow: inset 0 -0.25rem 0 0 var(--color-number-key-shadow);
  color: var(--color-number-key-text);
  display: inline-flex;
  font-size: var(--font-size-number-keys);
  justify-content: center;
  letter-spacing: -0.0294rem;
  min-height: 4rem;
  padding: 0.625rem 0.625rem 0.25rem;
  text-align: center;
  transition: 220ms all ease-in-out;

  &:hover,
  &.active {
    background-color: var(--color-number-key-background-hover);
  }

  &:focus {
    outline-style: solid;
    outline-color: transparent;
    box-shadow: 0 0 0 0.25rem var(--color-number-key-shadow);
  }

  &.control {
    background-color: var(--color-control-keys-background);
    box-shadow: inset 0 -0.25rem 0 0 var(--color-control-keys-shadow);
    color: var(--color-control-key-text);
    font-size: var(--font-size-control-keys);

    &:hover,
    &.active {
      background-color: var(--color-control-keys-background-hover);
    }

    &:focus {
      box-shadow: 0 0 0 0.25rem var(--color-control-keys-shadow);
    }
  }

  &.equal {
    background-color: var(--color-equal-key-background);
    box-shadow: inset 0 -0.25rem 0 0 var(--color-equal-key-shadow);
    color: var(--color-equal-key-text);
    font-size: var(--font-size-control-keys);

    &:hover,
    &.active {
      background-color: var(--color-equal-key-background-hover);
    }

    &:focus {
      box-shadow: 0 0 0 0.25rem var(--color-equal-key-shadow);
    }
  }
}
/*#endregion*/
